#Wordpress
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml
sitemap.xml.gz

#cache
wp-content/themes/yamidoo/scripts/cache/*
wp-content/plugins/si-captcha-for-wordpress/captcha/cache/*
wp-content/themes/yamidoo/scripts/cache/*
temp/*

# Config
/CWR-Checklist/config/config.php
/CWR-DistributionMap/config/config.php


#Files csv
/CWR-Checklist/pages/download/*.csv
/CWR-Checklist/pages/download/genus/*.csv
/CWR-Checklist/pages/download/country/*.csv
/CWR-Checklist/pages/download/taxon/*.csv
