#Wordpress
.htaccess
#wp-content/uploads/
#wp-content/advanced-cache.php
wp-content/wp-cache-config.php
#sitemap.xml
#wp-content/upgrade/
wp-content/blogs.dir/
wp-content/backup-db/
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
.DS_Store

#cache
/wp-content/themes/yamidoo/scripts/cache/
/wp-content/plugins/si-captcha-for-wordpress/captcha/cache/
/wp-content/themes/yamidoo/scripts/cache/
/wp-content/themes/yamidoo/scripts/cache/*.*
wp-content/themes/yamidoo/scripts/cache/

# Config
/CWR-Checklist/config/config.php
/CWR-DataUpload/config/config.php
/CWR-DistributionMap/config/config.php
wp-config.php

#Files csv
/CWR-Checklist/pages/download/*.csv
/CWR-Checklist/pages/download/genus/*.csv
/CWR-Checklist/pages/download/country/*.csv
/CWR-Checklist/pages/download/taxon/*.csv
